# For computer vision
opencv-python
ultralytics
tensorflow
mediapipe
torch
torchvision

# For web app (install all for flexibility)
streamlit
streamlit-webrtc
aiortc   # Dependency for streamlit-webrtc
Flask